DOMAIN=https://arkan-ai.com
USDT_WALLET=TTXUswnqmRPcqRRZkonxwpH2KDStAJm7td
TRONGRID_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_ADMIN_ID=
BETA_TOTAL_SEATS=50
ORDER_WINDOW_MIN=40
PORT=3000
